//-<!-- build:js js/main.min.js -->
script(src="bower_components/underscore/underscore.js")
script(src="bower_components/jquery/dist/jquery.js")
script(src="bower_components/backbone/backbone.js")
script(src="bower_components/backbone.babysitter/lib/backbone.babysitter.js")
script(src="bower_components/backbone.wreqr/lib/backbone.wreqr.js")
script(src="bower_components/marionette/lib/backbone.marionette.js")
//-<!-- endbuild -->
