doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="underscore/underscore.js")
    script(src="jquery/dist/jquery.min.js")
    script(src="backbone/backbone.js")
    script(src="backbone.babysitter/lib/backbone.babysitter.min.js")
    script(src="backbone.wreqr/lib/backbone.wreqr.min.js")
    script(src="marionette/lib/backbone.marionette.min.js")
